@model Addlete.Models.Coach

@{
    ViewData["Title"] = "Delete Coach";
}
<h2>Delete</h2>

<div class="card-body">
    <h3>Are you sure you want to delete this coach?</h3>
    <div>
        <h4>Coach Name: @Model.coach_name</h4>
        <h4>Specialization: @Model.specialization</h4>
        <h4>Email: @Model.email</h4>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="coach_id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
